@import '../../utils/variables.scss';

.header {
  background-image: url('../../images/header__background.svg');
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-bottom: 110px;

  &__link {
    margin: 10px 0;
    height: 40px;
    width: 40px;
    transition: transform 0.4s linear;

    &:hover {
      transform: scale(1.03);
    }
  }

  &__title {
    margin-top: 110px;
    font-weight: 900;
    font-size: 100px;
    text-align: center;
    color: $primary-dark-color;
  }
}