@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.not-found__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  padding: 60px 0;
  font-size: 48px;
  line-height: 50px;
  text-align: center;
  color: $primary-light-color;

  & a {
    font-size: 36px;
    padding: 5px 15px;
    border-radius: 9px;
    background-color: $primary-light-color;
    border: 1px solid $primary-light-color;
    color: $primary-dark-color;
    text-decoration: none;
    transition: background-color 0.4s linear, color 0.4s linear, transform 0.4s linear;

    &:hover {
      background-color: $primary-dark-color;
      color: $primary-light-color;
      transform: translateY(-2px);
    }
  }
}

@include onSmallDesktop {
  .not-found__content {
    gap: 40px;
    padding: 50px 0;
    font-size: 40px;
    line-height: 42px;
  
    & a {
      font-size: 30px;
    }
  }
}

@include onTablet {
  .not-found {
    gap: 30px;
    padding: 35px 0;
    font-size: 36px;
    line-height: 38px;
  
    & a {
      font-size: 24px;
    }
  }
}

@include onMobile {
  .not-found__content {
    gap: 20px;
    padding: 20px 0;
    font-size: 24px;
    line-height: 26px;
  
    & a {
      font-size: 20px;
    }
  }
}
