@import './utils/variables.scss';
@import './utils/mixins.scss';

a {
  display: block;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 100px;
}

.section {
  background-color: $main-background-color;
}

@include onSmallDesktop {
  .container {
    padding: 0 60px;
  }
}

@include onTablet {
  .container {
    padding: 0 40px;
  }
}

@include onMobile {
  .container {
    padding: 0 20px;
  }
}