@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.home {
  padding: 40px 0 30px;

  &__filter {
    margin-bottom: 20px;
  }

  &__empty {
    margin: 0 auto;
    color: $primary-light-color;
    font-size: 48px;
    line-height: 50px;
  }

  &__cards {
    margin-bottom: 30px;
  }

  & ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    width: max-content;
    max-width: 100%;
    margin: 0 auto;

    & li.ant-pagination-item {
      font-family: 'Roboto', sans-serif;
      background-color: $secondly-grey-color;
      border-color: $secondly-grey-color;
      box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.4);
      -webkit-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.4);
      -moz-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.4);
      transition: transform 0.4s linear;

      & a {
        color: $primary-light-color;
        transition: all 0.4s linear;
      }

      &:hover {
        transform: translateY(-2px);
      }
    }

    & li.ant-pagination-item-active,
    & li.ant-pagination-prev,
    & li.ant-pagination-next {
      background-color: $primary-light-color;
      border-color: $primary-light-color;
      box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.5);
      -webkit-box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.5);
      -moz-box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.5);
      transition: all 0.4s linear;

      & a {
        color: $primary-dark-color;
        transition: all 0.4s linear;

        &:hover {
          color: $primary-dark-color;
        }
      }

      &:hover {
        background-color: $primary-light-color;
        border-color: $primary-light-color;
      }
    }

    & li.ant-pagination-disabled {
      background-color: $primary-grey-color;

      & a {
        color: $main-background-color;
        opacity: 0.6;
      }

      &:hover {
        background-color: $primary-grey-color;
      }
    }
  }

  & .ant-select-selector {
    display: none;
  }
}

@include onTablet {
  .home {
    padding: 30px 0 20px;

    &__empty {
      font-size: 36px;
      line-height: 38px;
    }
  
    &__cards {
      margin-bottom: 20px;
    }
  }
}

@include onMobile {
  .home {
    padding: 20px 0 15px;

    &__empty {
      font-size: 30px;
      line-height: 32px;
    }
  
    &__cards {
      margin-bottom: 15px;
    }
  }
}
